.top {
  &__container {
    max-width: 1700px;
    margin: 0 auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 130px;
    text-align: center;
  }
}