
html,body {
  height: 100%;
}


body {
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;


  display: flex;
  flex-direction: column;

}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
}

.title {
  font-size: 48px;
  text-align: center;
  @extend %roboto-700;
  line-height: 65px;
  color: $title;
  margin-bottom: 10px;
  text-transform: uppercase;

}
.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.breadcrumbs {
    display: inline-flex;
    justify-content: center;
    padding-left: 25px;
    position: relative;
    &::before {
      content: "" ;
      position: absolute;
      background-image: url('../images/icons/home.svg');
      height: 16px;
      width: 16px;
      left: 0;
      top: 4px;
    }

		&__list {
      display: flex;
      
		}

		&__item {
      color: #727272;
      padding-right: 40px;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        background-image: url('../images/icons/arrow-right.svg');
        width: 9px;
        height: 10px;
        right: 15px;
        top: 9px;
      }
      &:last-child{
        color: $accent;
        padding-right: 0;
        &::after {
          display: none;
        }
      }

		}

		&__link {
      color: inherit;
		}
}

.header--404-page {
  background-color: $bg;
}

.pagination {
  display: flex;
  justify-content: center;

  .pagination__list {
    display: flex;
    padding: 0 35px;
  }

  &__item {
    padding: 0 15px;
  }

  &__link--active {
    color: $accent;
  }

  &__arrows {
    text-transform: uppercase;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 10px;
      top: 8px;
    }
  }
  &__prev {
    padding-left: 15px;
    &::before {
    background-image: url('../images/icons/angle-left.svg');
    left: 0;
    }
  }
  
  &__next {
    padding-right: 15px;
    &::before {
      background-image: url('../images/icons/angle-right.svg');
      right: 0;
    }
  }
}