$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%quicksand-400{
   font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
}

%quicksand-500{
   font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
}

%roboto-400{
   font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-700{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%btn{
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
      background-color: $accent;
      color: #fff;
      
      padding: 12px 26px;
      text-transform: uppercase;
      @extend %roboto-400;

}