@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
























.page-404 {

  padding: 110px 0 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 570px;
    width: 100%;
  }

  &__title {
    font-size: 48px;
    @extend %roboto-700;
    margin-bottom: 35px;
    color: #28384f;
    line-height: 52px;
  }

  &__text {
    margin-bottom: 55px;
    max-width: 470px;
  }

  &__link {
    background-color: #fe3e57;
    text-transform: uppercase;
    padding: 15px 32px;
    color: #fff;
    @extend %roboto-400;
    box-shadow: 0px 5px 25px 0px rgba(254, 62, 87, 0.35);
  }
}

.shop {
  padding: 120px 0 105px;

  &__filter-btn {
    display: none;
  }
  
   &__inner {
    display: flex;
  }

  &__filters {
    width: 370px;
    margin-right: 30px;
  }
}

.filter__item {
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
}

.filter__title {
  font-size: 22px;
  @extend %roboto-400;
  margin-bottom: 25px;
  color: $title;
  text-transform: uppercase;
}

.filter-search {
  &__form {
    display: flex;
  }

  &__input {
    border: none;
    background-color: $bg;
    padding: 0 5px 0 17px;
    height: 50px;
    width: 260px;
  }

  &__btn {
    width: 50px;
    height: 50px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
}

.filter-price {

  &__label {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    @extend %btn;
    border: none;
    cursor: pointer;
  }
}

.irs--flat .irs-line {
  top: 13px;
  height: 5px;
  background-color: #ececec;
  border-radius: 0px;
}

.irs--flat .irs-handle {
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 13px;
  height: 5px;
  background-color: $accent;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat {
  height: 30px;
}

.filter-color {
  padding-top: 35px;

  &__lable {
    cursor: pointer;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;

    &+.filter-color__lable {
      padding-top: 20px;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;
    position: absolute;

    &:checked+.filter-color__checkbox {
      background-image: url('../images/icons/icons8.png');
      background-position: center;
    }
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -16px;
    margin-top: 7px;
  }

  &__checkbox--blue {
    background-color: #00aeef;
  }

  &__checkbox--red {
    background-color: #f52574;
  }

  &__checkbox--green {
    background-color: #24d4ac;
  }

  &__checkbox--orange {
    background-color: #ff7e00;
  }

  &__checkbox--black {
    background-color: #000000;
  }

  &__checkbox--purple {
    background-color: #923899;
  }
}



.filter-size {

  &__label {
    padding-bottom: 20px;
    padding-left: 35px;
    display: flex;
    align-items: center;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;
    position: absolute;

    &:checked+.filter-size__checkbox {
      background-image: url('../images/icons/check-size.svg');
      background-position: center;
      border: none;

      &+.filter-size__text {
        color: $accent;
      }
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $default;
    margin-left: -35px;
    margin-right: 15px;
  }
}


.filter-category {

  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;
    position: absolute;

    &:checked+.filter-category__checkbox {
      color: white;
      background-color: $accent;
    }
  }

  &__checkbox {
    color: $title;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin-bottom: 15px;
    background-color: #f6f6f6;
  }
}

.filter-popular {

  &__label {
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 8px;
    display: inline-block;
    padding: 8px 0;
  }

  &__input {
    @extend %checkbox-hidden;
    position: absolute;

    &:checked+.filter-popular__checkbox {
      background-color: $accent;
      color: #fff;
      border-color: $accent;
    }
  }

  &__checkbox {
    border: 1px solid $default;
    padding: 10px 20px;
  }
}

.shop-content {
  width: 100%;

  &__filter {
    border: 1px solid $default;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0px;
    cursor: pointer;
  }

  &__filter-buttons {
    display: flex;
    align-items: center;
  }

  &__filter-btn--active {
    path {
      fill: $accent;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;

    .product-item {
      margin-bottom: 40px;
    }
  }
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 30px 0 0px;
  margin-left: 30px;
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  @extend %quicksand-500;
  color: $default;

  &:hover {
    background: transparent;
  }

}

.jq-selectbox__trigger {

  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10px;
  height: 5px;
  background-image: url('../images/icons/select-arrow.svg');
  border: none;
}

.product-page {
  padding-top: 120px;

}

.product-one {

  &__inner {
    display: flex;
  }

  &__slide {
    width: 730px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: 140px 560px;
    grid-column-gap: 30px;
  }

  &__content {
    width: 370px;
  }

  &__title {
    color: $title;
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__star-box {
    display: flex;
    align-items: center;

    span {
      padding-left: 8px;
      color: $title;
      font-size: 20px;
    }
  }

  &__price {
    color: $title;
    font-size: 18px;
    display: flex;
  }

  &__price-new {
    margin-right: 15px;
  }

  &__price-old {
    color: #ceced0;
    text-decoration: line-through;
  }

  &__text {
    margin-bottom: 30px;

    span {
      display: block;
      color: $title;
      @extend %roboto-400;
      font-size: 18px;
    }
  }
}

.product-slide {

  &__thumb {
    width: 140px;
    margin-right: 30px;
  }

  &__thumb-item {
    margin-bottom: 21px;
    width: 140px;
    height: 140px;
    cursor: pointer;
  }

  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
    height: 140px;
    margin-bottom: 30px;
  }

  &__thumb-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  &__big {
    width: 560px;
  }

  &__big-img {
    width: 560px;
    height: 650px;
    object-fit: cover;
  }
}


.product-filter {

  &__color {
    margin-bottom: 25px;
  }

  &__color-title,
  &__size-title {
    margin-bottom: 8px;
    font-size: 18px;
    color: $title;
    @extend %roboto-400;
  }

  &__color-label {
    margin-right: 5px;
  }

  &__color-input {
    @extend %radio-hidden;
    margin-right: -10px;

    &:checked {
      &+.product-filter__color-span {
        border-color: $accent;
      }
    }
  }

  &__color-span {
    width: 24px;
    height: 24px;
    border: 1px solid #ccccce;
    cursor: pointer;
    position: relative;
    display: inline-block;

    span {
      position: absolute;
      display: inline-block;
      content: '';
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
    }

  }

  &__size {
    margin-bottom: 25px;
  }

  &__size-label {
    margin-right: 8px;
    display: inline-block;
  }

  &__size-input {
    @extend %radio-hidden;
    margin-right: -9px;

    &:checked {
      &+.product-filter__size-span {
        border-color: $accent;
        color: $accent;
      }
    }

  }

  &__size-span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ececec;
    display: inline-block;
  }

  &__btn {
    @extend %btn;
    border: none;
    margin-left: 15px;
    cursor: pointer;
  }
}

.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  height: 50px;
  border: none;
  outline: none;
  @extend %quicksand-500;
  font-size: 16px;
  color: $title;
  text-align: center;
}

.jq-number__field {
  width: 114px;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  border-bottom-color: #f0f0f0;
  box-shadow: none;
  transform: translateY(1px);
}

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 0px 0 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}


.jq-number__spin.minus {
  left: 15px;
}

.jq-number__spin.plus {
  right: 15px;
}


.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 1px;
  background-color: $title;
  height: 12px;
}

.jq-number__spin:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  background-color: $title;
  height: 1px;
}

.product-info {

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 5px;
    display: flex;
  }

  &__title {
    min-width: 100px;
    color: $title;
  }

  &__link {
    path {
      fill: $default;
    }

    &+.product-info__link {
      margin-left: 14px;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}

.product-tabs {
  padding-top: 110px;

  &__top {
    margin-bottom: 40px;

    border-bottom: 1px solid #f0f0f0;
    @extend %roboto-400;

    font-size: 22px;
  }

  &__top-item {
    padding-bottom: 10px;
    display: inline-block;

    &--active {
      border-bottom: 1px solid $accent;
      color: $title;
    }


    &+.product-tabs__top-item {
      margin-left: 55px;
    }


  }

  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.comments {

  &__item {
    display: flex;
    margin-bottom: 40px;
  }

  &__img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
  }

  &__content {}

  &__content-link {
    color: $title;
    cursor: pointer;
    font-size: 16px;
  }

  &__content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__content-box {
    display: flex;
  }

  &__content-name {

    margin-right: 15px;
  }

  &__content-date {
    padding-left: 15px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 1px;
      height: 13px;
      width: 1px;
      background-color: #8d8d8d;

    }
  }

  &__content-star {}

  &__content-text {}

  &__content-reply {
    display: inline-block;
    padding-left: 25px;
    position: relative;

    &::before {
      content: '';
      top: 7px;
      left: 3px;
      position: absolute;
      height: 13px;
      width: 15px;
      background-image: url('../images/icons/replay-arrow.svg')
    }
  }
}

.comments {

  &__form {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 60px;
  }

  &__form-title {
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 35px;
    padding-bottom: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 50px;
      background-color: $accent;
      bottom: -5px;
      left: 0px;
    }
  }

  &__form-raiting {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__form-label {
    margin-right: 25px;
  }

  &__form-raitingtitle {
    margin-right: 60px;
    color: $title;
  }

  &__form-input {
    @extend %radio-hidden;

    &:checked+.comments__form-checkbox {
      path {
        fill: #ffc35b;
      }
    }
  }

  &__form-checkbox {
    cursor: pointer;

    path {
      fill: $default;
    }
  }

  &__form-textbox {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__form-text {
    width: 570px;
    height: 50px;
    padding: 0 20px;
    display: inline-block;
    border: 1px solid #f0f0f0;
  }

  &__form-textarea {
    padding: 17px 20px;
    height: 225px;
    width: 100%;
    border: 1px solid #f0f0f0;
    display: block;
    resize: none;
    margin-bottom: 40px;
  }

  &__form-btn {
    @extend %btn;
    cursor: pointer;
  }
}

.related {
  padding: 55px 0 120px;

  &__title {
    margin-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;

    .product-item__img-box {
      height: auto;
    }

    .product-item__title {
      margin: 5px 0 5px;
      font-size: 18px;
    }
  }
}

.blog-page {
  padding: 120px 0 60px;

  &__slider {

    .slick-next,
    .slick-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      width: 40px;
      height: 40px;
      background-color: $accent;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      outline: none;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);

      svg {
        path {
          fill: #fff;
        }
      }
    }

    .slick-disabled {
      background-color: #fff;
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);

      svg {
        path {
          fill: $accent;
        }
      }
    }

    .slick-next {
      right: 40px;
    }

    .slick-prev {
      left: 40px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 770px;
    margin-right: 30px;
  }

  &__aside {
    width: 370px;
  }

  &__item-link {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  &__item {
    margin-bottom: 60px;

    &.blog-page__item--no-img {
      border-top: 1px solid #ececec;
      box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    }

  }

  &__img {
    max-width: 770px;
    height: 450px;
    object-fit: cover;
  }

  &__item-box {
    border: 1px solid #ececec;
    border-top: none;
    padding: 40px;
  }

  &__item-title {
    color: $title;
    font-size: 22px;
    @extend %roboto-700;
    line-height: 32px;
    margin-bottom: 20px;

    &:hover {
      color: $accent;
    }
  }

  .blog-box {
    justify-content: start;

    &__author {
      margin-right: 30px;
    }
  }

}

.person {
  margin-bottom: 40px;
  padding: 40px 25px;
  border: 1px solid #ececec;
  text-align: center;

  &__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__name {
    font-size: 18px;
    @extend %roboto-700;
    color: $title;
    margin-bottom: 5px;
  }

  &__position {
    color: $accent;
    margin-bottom: 20px;

  }

  &__text {
    max-width: 315px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  &__social {}

  &__social-link {
    svg {
      path {
        fill: #8d8d8d;
      }
    }

    &:hover {
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }

  &__social-link+.person__social-link {
    margin-left: 15px;
  }
}

.latest-post {
  padding: 35px 30px 20px;
  border: 1px solid #ececec;

  &__title {}

  &__item {
    display: flex;
    margin-bottom: 20px;

    &+.latest-post__item {
      border-top: 1px solid #ececec;
      padding-top: 20px;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
  }

  &__box {}

  &__title-link {
    font-size: 18px;
    color: $title;
    margin-bottom: 8px;
    list-style: 14px;
    display: inline-block;

  }

  &__date {
    padding-left: 25px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      background-image: url('../images/icons/calendar.svg');
      top: 3px;
      left: 3px;
    }
  }
}

.blog-one {
  h4 {
    font-size: 22px;
    @extend %roboto-400;
    color: $title;
    margin: 25px 0;
  }

  p {
    margin: 25px 0;
  }

  blockquote {
    color: $title;
    font-size: 22px;
    padding: 35px;
    background-color: $bg;
    border-left: 3px solid $accent;
    margin: 25px 0;
  }

  &__left-img {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  &__right-img {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  &__content {}

  &__text {
    border: 1px solid #ececec;
    border-top: none;
    padding: 30px;
  }

  &__info {
    display: flex;
    margin-bottom: 25px;
  }

  &__info-link {
    margin-right: 30px;
    padding-left: 28px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      background-image: url('../images/icons/calendar.svg');
      top: 2px;
      left: 3px;
    }
  }

  &__info-link--comment::before {
    background-image: url('../images/icons/comment-blog.svg');
  }

  &__info-link--author::before {
    background-image: url('../images/icons/user-blog.svg');
  }

  .comments {
    margin-bottom: 30px;
    border-bottom: 1px solid #ececec;
  }

  .comments__content-name {
    margin: 0 15px 0 0;
  }

  .comments__content-text {
    margin: 0;
  }

  .comments__form-title {
    margin: 0;
    margin-bottom: 25px;
    @extend %roboto-700;

    &::before {
      display: none;
    }
  }

  .comments__form-text+.comments__form-text {
    margin-left: 15px;
  }

  &__box {
    color: $title;
    @extend %roboto-700;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
  }

  .comments__title {
    font-size: 22px;
    color: $title;
    margin-bottom: 25px;
    @extend %roboto-700;
  }

  &__tags {
    span {
      display: inline-block;
      margin-right: 12px;
    }
  }

  &__share {
    display: flex;
    align-items: center;

  }

  &__share-link {
    margin-left: 12px;

    svg {
      path {
        fill: #727272;
      }
    }

    &:hover {
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }

  &__author {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
  }

  &__author-img {
    margin-right: 30px;
    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  &__author-info {}

  &__author-name {
    font-size: 22px;
    color: $title;
    margin-bottom: 25px;
  }

  &__author-text {}
}

#map {
  height: 450px;
  width: 100%;
}

.map {
  padding: 120px 0;
}

.contact {
  margin-bottom: 120px;

  &__inner {
    display: flex;
  }

  &__info {
    max-width: 370px;
    margin-right: 30px;
  }

  &__info-title {
    font-size: 48px;
    line-height: 58px;
    @extend %roboto-700;
    color: #292929;
    margin-bottom: 15px;
  }

  &__info-text {
    margin-bottom: 50px;
  }

  &__info-list {}

  &__info-item {
    margin-top: 55px;
    color: #292929;
    padding-left: 80px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 60px;
      width: 60px;
      background-image: url('../images/icons/phone-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
      left: 0px;
      top: -3px;
    }
  }

  &__info-item--adress::before {
    background-image: url('../images/icons/Location-icon.svg');
  }

  &__info-item--email::before {
    background-image: url('../images/icons/email-icon.svg');
  }

  &__info-tel {
    color: #292929;
    display: block;
  }

  &__info-adress {
    max-width: 200px;
    display: inline-block;

  }



  &__info-email {}

  &__form {
    width: 100%;
    padding: 60px 40px;
    box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
  }

  &__form-title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    @extend %roboto-700;
    color: #292929;
  }

  &__form-box {
    display: flex;
    justify-content: space-between;

    input {
      width: 330px;
    }
  }

  &__form-input {
    display: block;
    width: 100%;
    height: 60px;
    background-color: $bg;
    border: none;
    padding: 0 24px;
    margin-bottom: 30px;
  }

  &__form-textarea {
    padding: 24px;
    display: block;
    width: 100%;
    resize: none;
    height: 200px;
    background-color: $bg;
    border: none;
    margin-bottom: 30px;
  }

  &__form-btn {
    @extend %btn;
    cursor: pointer;
    border: none;
  }
}








@import "media";