.promo {

  background-image: url('../images/promo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0 160px;
  text-align: center;

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    text-transform: uppercase;
    color: $accent;
    font-size: 22px;
    margin-bottom: 10px;

  }

  &__clock {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }

  &__clock-item {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    span {
      font-size: 48px;
      @extend %roboto-700;
      color: $title;
      margin: 10px 0 7px;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 55px;
    color: $title;
    text-transform: uppercase;
    padding: 14px 32px;
    border: 1px solid $accent;
  }
}