.blog {
  padding: 50px 0 160px;
  background-image: url('../images/blog/blog-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;

  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -24px;
      right: -21px;
      background-image: url('../images/blog/decor.svg');
      width: 126px;
      height: 53px;
      z-index: -1;
    }
  }

  &__item {
    max-width: 370px;
    border: 1px solid #ececec;
    transition: all .3s;

    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      border: none;

      .blog__item-link {
        color: $accent;

        &::after {
          background-image: url('../images/icons/arrow-accent.svg');
        }
      }
    }
  }

  &__item-box {
    padding: 30px 40px;
  }

  &__item-imglink {
    margin-bottom: 20px;
  }

  &__img {
    object-fit: cover;
    height: 288px;
  }

  &__item-title {
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 20px;
  }

  &__item-link {
    position: relative;
    transition: all .3s;
  }

  &__item-link::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -15px;
    width: 10px;
    height: 8px;
    background-image: url('../images/icons/arrow.svg');
  }

}

.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__author::before {
    background-image: url('../images/icons/user-grey.svg');
  }

  &__date::before {
    background-image: url('../images/icons/time.svg');
  }

  &__author,
  &__date {
    padding-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: 0;
      top: 4px;
    }
  }
}

@media (max-width: 1230px) {
  .blog {
    &__items {
      &::after {
        right: 5px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .blog {
    padding: 50px 0 120px;

    &__items {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__item-box {
      padding: 20px 10px;
    }
  }
}

@media (max-width: 992px) {
  .blog {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item-box {
      padding: 20px 10px;
    }

    &__item {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .blog {
    padding: 60px 0;
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 375px) {
  .blog-box {
    display: block;
    &__author {
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  .blog-box__author::before,
  .blog-box__date::before {
    top: 1px;
  }

  .blog {
    &__item-imglink {
      img {
        height: 220px;
      }
    }
  }
}