.partners {
  padding-top: 75px;

  &__list {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}

@media (max-width: 620px) {
  .partners {
    padding: 60px 0;

    &__list {
      height: auto;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &__item {
      margin: 10px 35px;
    }
  }
}

@media (max-width: 500px) {
  .partners {
    &__item {
      margin: 10px 20px;
    }
  }
}
