.footer {
  background-color: $bg;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: flex-start;

  &__contact {
    width: 250px;
    margin-right: 50px;
  }

  &__nav {
    width: 170px;
    margin-right: 30px;
  }

  &__item-form {
    max-width: 470px;

  }

  &__adress,
  &__email,
  &__tel {
    margin-bottom: 10px;
    display: block;
  }

  &__social-list {
    display: flex;
    margin-top: 25px;
    align-items: center;
  }

  &__social-item+.footer-top__social-item {
    margin-left: 18px;
  }

  &__social-link {
    transition: all 0.3s;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__logo {
    margin-bottom: 33px;
    display: block;
  }

  &__title {
    margin-bottom: 40px;
    color: $title;
    @extend %roboto-700;
    line-height: 1;
    font-size: 22px;
  }

  &__link {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form-input {
    margin-right: 10px;
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default;
    }
  }

  &__form-btn {
    @extend %btn;
    border: none;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  @extend %quicksand-400;

  &__accept {
    display: flex;
  }

  &__accept-img {
    margin-left: 25px;
  }
}