.top-slider {
  background-image: url("../images/decor/top-slider-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $bg;
  padding: 65px 0 45px;

  &__container {
    max-width: 1560px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 125px;
    padding-left: 175px;
  }

  &__title {
    max-width: 670px;
    color: $title;
    font-size: 58px;
    line-height: 68px;
    @extend %roboto-700;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }

  &__link {
    @extend %btn;
    padding: 14px 35px;
  }

  .slick-dots {
    margin-top: -70px;
    display: flex;
    justify-content: center;

    li {
      line-height: 0;
      padding: 0 5px;

      button {
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 26px;
        height: 26px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;

        &::before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .top-slider {
    &__img {
      max-width: 40%;
      object-fit: contain;
    }

    &__content {
      padding-top: 40px;
      padding-left: 15px;
    }


  }
}

@media (max-width: 1050px) {

  .top-slider .slick-dots {
    margin-top: 0px;
  }

  .top-slider {
    &__item {
      .top-slider__img {
        display: none;
      }
    }


    &__content {}


    &__content {
      padding-top: 0;
      padding-bottom: 50px;
      padding-left: 15px;
    }

  }
}

@media (max-width: 640px) {
  .top-slider {
    padding: 45px 0 30px;

    &__title {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 375px) {
  .top-slider {
    padding: 35px 0 20px;

    &__title {
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}